* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Prompt', sans-serif;
    font-size: 16px;
    color: #2f2f2f;
    text-align: justify;
}

.title {
    font-family: 'Prompt', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-size: 35px;
    margin: 30px 0;
    border-bottom: 3px solid #EF7F1A;
}

/*Belka z logo i menu*/
header {
    background-color: #2f2f2f;
    box-shadow: 0 1px 5px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 1px 5px 5px rgba(0,0,0,.5);
    width: 100%;
    height: 120px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.logo {
    height: 100px;
    background: no-repeat center center;
    background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
}

.logo img {
    height: 80px;
    margin: 20px 0;
    transform: scale(1,1);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.logo img:hover {
    height: 100px;
    margin: 10px;
    transform: scale(1.05,1.07);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    line-height: 120px;
    padding: 0 10px;
}

.menu li:hover {
    background-color: #585858;
}

.menu a {
    text-decoration: none;
    color: white;
}

/* Główne zdjęcie */
.main {
   width: 100%;
   height: 100vh;
   background: url(../img/konie-w-ruchu.jpg) no-repeat center center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   -o-background-size: cover;
}

/* Sekcja "O NAS" */
.about {
    padding: 100px 0 30px 0;
}

/* Sekcja "OFERTA" */
.back:nth-child(2n+1) {
    background-color: #eaeaea;
}

.back:first-child {
    background-color: white;
}

.title2 {
    text-transform: uppercase;
    font-weight: 700;
}

.offerts, .prices {
    padding-top: 100px;
}

.offert {
  padding-top: 20px;
}

.offert ul {
    list-style-type: none;
}

.offert a, .price a {
    color: #EF7F1A;
    text-decoration: none;
    font-weight: 700;
}

.offer-pic {
    width: 350px;
    height: 350px;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    filter: grayscale(70%);
}

.offer-pic:hover {
    filter: grayscale(0%);
    transition-timing-function: ease-out;
    transition-duration: 400ms;
    -webkit-filter: grayscale(0%);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 400ms;
    -moz-filter: grayscale(0%);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 400ms;
    -o-filter: grayscale(0%);
    -o-transition-timing-function: ease-out;
    -o-transition-duration: 400ms;
    -ms-filter: grayscale(0%);
    -ms-transition-timing-function: ease-out;
    -ms-transition-duration: 400ms;
}

.offer1 {
    background-image: url(../img/nauka-jazdy.jpg);
}

.offer2 {
    background-image: url(../img/trening-mlodego-konia.jpg);
}

.offer3 {
    background-image: url(../img/rajd-traperski.jpg);
}

.offer4 {
    background-image: url(../img/noclegi.jpg);
}

.offer5 {
    background-image: url(../img/grill.jpg);
}

.offer6 {
    background-image: url(../img/kulig.jpg);
}

.offer7 {
    background-image: url(../img/portret-konia.jpg);
}

.offer8 {
    background-image: url(../img/transport-koni.jpg);
}


/* Sekcja "CENNIK" */
.price {
    padding: 20px 0 30px 0;
}

.price span {
    font-weight: 700;
}

/* Stopka */
footer {
    width: 100%;
    min-height: 100px;
    background-color: #2f2f2f;
    line-height: 100px;
    color: white;
}

footer p {
    text-align: center;
}

footer p span {
    text-transform: uppercase;
}

.fb, .tw, .inst {
    margin: 25px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.fb {
    background-image: url(../img/media/fb.jpg);
}

.tw {
    background-image: url(../img/media/twit.jpg);
}

.inst {
    background-image: url(../img/media/insta.jpg);
}
